
<label class="m-2">Filter City:</label>
<select [(ngModel)]="SelectedCity" >
  <option value="">--Select City--</option>
  <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
</select>
<!-- <button type="button" >Search</button>
<button type="button" (click)="onCityClear()">Clear</button> -->



<!-- <label class="m-2">Filter City:</label>
<input type="text" placeholder="e.g. Delhi"  [(ngModel)]="City"  (keydown.enter)="onCity()">
<button type="button" (click)="onCity()">Search</button>
<button type="reset" (click)="onCityClear()">Clear</button> -->



<label class="m-2">Sort By:</label>
<select [(ngModel)]="sortParam" >
  <option value="">--Choose Parameter--</option>
  <option value="city">City</option>
  <option value="price">Price</option>
</select>
<button class="m-2" type="button" (click)="onToggle()">
    <i *ngIf="Order==='asc'" class="fas fa-sort-up"></i>
    <i  *ngIf="Order==='desc'" class="fas fa-sort-down"></i>
</button>
<!-- <button type="button" (click)="onToggle()">Order</button> -->

<div class="row">
  <div *ngFor="let property of properties|filter:SelectedCity:'city' | sort:[sortParam,Order]" class="col-sm-4">
    <div class="shadow-lg p-3 mb-4">
        <app-property-card [property]="property"></app-property-card>
    </div>
</div>
</div>
